html {
    position: relative;
}

body {
    margin-top: 30px;
    margin-bottom: 120px;
}

.jumbotron {
    background-image: url(../img/gambar.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -60px;
    color: #eaeaea;
    overflow: hidden;
}

.jumbroton h1, .jumbroton p{
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron img {
    width: 220px;
    height: 210px;
    border: 5px solid #fff;

}

.row {
    margin-right: 0px;
}

hr {
    width: 250px;
    border-top: 3px solid #666;
}

/* .about {
    min-height: 600px;
} */

.about p {
    text-align: justify;
}

section {
    min-height: 600px;
}

.pkiri, .pkanan {

    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.pkanan {
    transform: translate(50px, 0);
}

.pkiri.pmuncul, .pkanan.pmuncul{
    opacity: 1;
    transform: translate(0,0);
}

.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, - 40px);
    transition: .5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: #aaa;
    font-size: 0.9em;
    text-align: center;
}


